/*@import "../common/mixins";*/

.app-bar{
	background-color: rgb(255,255,255) !important;
	position: fixed!important;
	left: 0;
	top: 0;
	width: 100%;


	>div{
		color: rgb(0,0,0)!important;
	}



	>div>button>div>span.material-icons{
		color: rgb(0,0,0)!important;
	}

	img{
		margin-bottom: -15px;
		margin-left: -15px;
	}
}

.filter-list-invisible{
	display: none!important;
}