.page-group-chat {
  > div { height: 100vh; flex-direction: column; }

  #group-container {
    height: calc(100% - 250px);
    .container { height: 100%; padding: 0; }
  }

  @include media-xs-only {
    #header #header-row { display: none; }
    #group-container { height: calc(100% - 72px); }
  }
}

.chat-container { display: flex; flex-direction: column; background-color: #fff; height: 100%; }

.messages-container { height: 100%; overflow-x: hidden; overflow-y: auto; max-height: 800px; }

.message-row {
  display: flex; flex-direction: row; align-items: flex-start; padding: 10px 20px;

  &:hover { background-color: #f5f5f5; }

  .message-avatar { margin-right: 10px; }

  h5.message-username { margin: 0; font-weight: 500; color: #444; font-size: 15px; }
  p.message-content { color: #666; font-size: 13px; word-break: break-all; }
  span.message-timestamp { font-size: 12px; color: #999; font-weight: 400; }
}

.message-send-row {
  width: calc(100% - 40px); padding: 10px 20px; background-color: #fff; border-top: 1px solid #eee;
  display: flex; flex-direction: row; justify-content: space-between; align-items: center;

  .message-user-avatar {
    margin-right: 20px;
    @include media-xs-only { display: none; }
  }

  .message-send-field { margin-right: 10px; }
}
