.event-title {
	text-align: center;
}

.event-item-card {
	width: 500px!important;
	padding-bottom: 3% !important;
	margin-bottom: 3% !important;
	max-width: 600px!important;
	z-index: 0!important;
	padding: 0px!important;

	@include media-xxs-only {
		width:100%!important;
	}

	.event-item-card-title{
		/*background: lightgray;*/
	}

	.event-item-info{
		text-align: left;
		color:darkgrey;
		>span{
			font-size: 14px!important;
			color: darkgrey!important;
			height: 17px;
			vertical-align: middle;
		}
	}

	#link-title{
		cursor: pointer;
		text-decoration: underline;
		color: black;
	}

	#link{
		cursor: pointer;
		text-decoration: underline;
		font-weight: bold;
		color: darkgrey;
	}
	.a{
		#location-link{
			margin-left: 3px;
			font-weight: bold;
			color: darkgrey;
		}
	}

	.event-item-card-text{
		text-align: left!important;
		padding-top: 0px!important;
	}

	.event-item-card-going-button{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.event-item-text > p >img {
	max-width: 100%;
}

.event-item-button{
	max-width: 600px!important;
	.event-item-button-add{
		width:584px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.event-item-header{
	>div{
		float: left;
		text-align: left;	
	}
	
}

.event-item-card-map{
	height: 100px;
}


.new-event-container{
	margin-bottom: 54px!important;
}

.new-event-date-chooser{
	>div{
		width:80px!important;
	}
}

.new-event-time-chooser{
	width: 80px!important;
}



.map{
	height: 200px;
/*	padding-left: 10px;
padding-right: 10px;*/
}