.event-title {
  text-align: center;
}

.event-item-card {
  padding-bottom: 3% !important;
  margin-bottom: 3% !important;
  max-width: 600px!important;
}

.event-item-text > p >img {
  max-width: 100%;
}

.event-item-button{
	max-width: 600px!important;
}
