.event-title {
	text-align: center;
}

.event-item-card {
	padding-bottom: 3% !important;
	margin-bottom: 3% !important;
	max-width: 600px!important;
	z-index: 0!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.event-item-text > p >img {
	max-width: 100%;
}

.event-item-button{
	max-width: 600px!important;
}

.event-item-header{
	>div{
		float: left;
		text-align: left;	
	}
	
}

.event-item-card-text{
	text-align: left!important;
}

.event-item-card-map{
	height: 100px;
}


.new-event-container{
	margin-bottom: 54px!important;
}

.new-event-date-chooser{
	>div{
		width:80px!important;
	}
}

.new-event-time-chooser{
	width: 80px!important;
}