@import '../common/mixins';

#group-container {
  margin-bottom: 20px;
  .grid-list { margin: 0 !important; }
}

.group-welcome {
  background-color: rgba(#99b8d2, 0.15); padding: 20px; border: 1px solid #f5f5f5; margin: 20px auto 0;
  p { font-size: 15px; color: #555; line-height: 24px; }
  span.material-icons { vertical-align: top; margin-right: 10px; }
}

.add-section-dialog > div > div{
  width: 100% !important;
}
