@import "../common/mixins";

$headerHeight: 250px;
$headerStickyHeight: 95px;

#header {
  position: relative;
  height: $headerHeight;
  width: 100%;
  top: 0%;
  background-size: contain;
  overflow: hidden;
  z-index: 1000;
  @include transition(all 0.5s);
  background: -moz-linear-gradient(top, rgba(25,25,25,0.72) 0%, rgba(0,0,0,0.93) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(25,25,25,0.72) 0%,rgba(0,0,0,0.93) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(25,25,25,0.72) 0%,rgba(0,0,0,0.93) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8191919', endColorstr='#ed000000',GradientType=0 ); /* IE6-9 */

  #logo-image {
    display: flex; align-items: center;
    img {
      width: 100%;
      @include media-xs-only { width: 120px; margin: 0 10px; }
    }
  }

  + #group-container {
    // margin-top: $headerHeight;
    @include transition-standard(margin-top 450ms)
  }

  &.sticky {
    height: $headerStickyHeight;
    + #group-container { margin-top: $headerHeight - 30; }
  }
}

@include media-xs-only {
  #header {
    position: static; height: auto;
    #header-row { padding: 20px 0 0; }
    + #group-container { margin-bottom: 92px; }
  }
}

#header-title {
  text-align: center; margin-top: 50px; display: flex; flex-direction: column;
  @include transition(all 450ms);

  @include media-xs-only { order: 10; margin: 20px 0; }

  h2, p { margin: 10px 0; }
  #uni-name { line-height: 2.1rem; color: #fff; @include transition(all 450ms); }
  #uni-description { color: rgba(#fff, 0.75); }

  &.sticky {
    max-height: 144px; margin-top: 0px;
    #uni-name { font-size: 24px; }
  }
}

#header-profile {
  display: flex; align-items: center; justify-content: flex-end; height: 100%;
  @include transition(all 450ms);

  button > div {
    img { object-fit: contain; background-color: #fff !important; }
  }
}

.header-profile-popover {
  padding: 7px 0 0 12px !important;
  line-height: 0 !important;
  > button > div {
    @include transition(all 450ms);
    img { object-fit: contain; background-color: #fff !important; }
  }
}

.header-logo {
  @include transition(all 0.5s);
  > div > div { opacity: 0; }
}

#header-profile-logo { margin-top: 12px; }

.header-tab-row {
/*  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;*/
  /*height: 100%;*/
}

#header-tab-col {
  padding: 0 !important;
  > div > div { background-color: rgba(255,255,255,0) !important; }
}

.header-tab-parent{
  
  @include media-sm-up {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
  }
}

.header-tab > div > div {
  flex-direction: row !important; font-size: 18px !important;
  span { margin-bottom: 0 !important; margin-right: 5px; }

  @include media-xxxs-only {
    span { margin-right: 0; }
    &:not(span) { font-size: 0 !important; }
  }
}

.upload_cover_photo {
  position: absolute !important; bottom: -50px; right: 10px; opacity: 0.75; @include transition-standard(bottom 350ms !important);
  &:hover { opacity: 1; }
  #header:hover & { bottom: 10px; }
}

input#file-upload { display: none; }
