.exchange-uni-selection-wrapper {
	>div { display: inline-block; }

	.exchange-uni-selection {
		width: 300px;
	    vertical-align: top;
	    margin: 30px;
	}

	.select-uni-form {
		margin: 0 10px 45px 10px;
	}
}