.exchange-uni-selection-wrapper {
	
	.exchange-uni-selection {
		min-width: 300px;
		max-width: 650px;
	    vertical-align: top;
	    /*margin: 30px auto;*/
	    margin: auto;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.select-uni-form {
		margin: 0 10px 45px 10px;
		
		.exchange-form-field{
			text-align: left;
		}
	}
}