.exchange-uni-selection-wrapper {
	.exchange-uni-selection {
		min-width: 300px;
		max-width: 650px;
	    vertical-align: top;
	    margin: 30px auto;
	}

	.select-uni-form {
		margin: 0 10px 45px 10px;
	}
}