.page-profile {
  /*min-height: calc(100vh - 150px);*/
  background-color: darkslategray;
  padding-top: 150px;

  @include media-xs-only { padding-top: 15px; min-height: calc(100vh - 15px); }
}

#profile-paper {
  margin: 50px;
  margin-top: 80px;

  #user-image {
  	margin-top: 20px;
  }

  #user-info {
  	margin-left: 20px;
  }
}

#half-header {
  min-height: 804px; position: relative;
  background-size: auto 50% !important;

  #logo-image { position: absolute; top: 30px; left: 30px; }
}
