.page-profile {
  /*min-height: calc(100vh - 150px);*/
  background-color: darkslategray;
  padding-top: 150px;

  @include media-xs-only { padding-top: 15px; min-height: calc(100vh - 15px); }
}

#profile-buffer{
  width:100%;
  background: #9E9E9E;
  height:100px;
}

#profile-paper {
  margin: 50px;
  margin-top: 0px;

  #user-image {
  	margin-top: 20px;
  }

  .profile-pic{
    margin-top: -55px;
  }
  .profile-pic > img {
    border: 5px solid #616161;
  }
  >div>div>h1{
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .profile-fb{
    margin:10px;
    > h2{
      margin: 1vh;
    }
    > a {
      color: black;
      text-decoration: none;
      border: 1px #616161;
      padding: 5px;
      border: 2px solid black;
      border-radius: 30px;
      font-size: 12px;
    }
  }

  .university-details{
    margin-top: 20px;
    margin-bottom: 10px;
    .university-header{
      font-size: 22px;
    }
  }
  /*#user-info {
  	margin-left: 20px;
    }*/
  }

  #half-header {
    min-height: 804px; position: relative;
    background-size: auto 50% !important;

    #logo-image { position: absolute; top: 30px; left: 30px; }
  }
