.page-settings{
	margin-top: 100px!important;
	margin-bottom: 100px!important;
}

.settings-info{
	text-align: left;
}

.settings-item-card{
	margin-top: 10px!important;
	margin-bottom: 10px!important;	
}


.settings-title{
	>div{
		float: left;
		padding-bottom: inherit;
	}
}