.stories-container {
	> div {
		margin-bottom: 20px;
		margin-top: 10px;
	}
}

.text-content-wrapper {
	margin: 20px 20px 18% 18%;

	.user-profile-container {
		display: flex!important;
		div { margin: 10px; }
		.story-avatar {
			display: inline-block;
		}

		.author-details {
			display: inline-block;
			> div {display: block;}
		}
	}

	.story-container {
		display: inline-block;
		margin-bottom: 40px;
		margin-top: 5px;

		.title {
			font-weight: 700;
		}
	}
}

.story-item-info{
	text-align: left;
	color:white;
	>span{
		font-size: 14px!important;
		color: white!important;
		height: 17px;
		vertical-align: middle;
		margin-bottom: -4px;
	}
}