.stories-container {
	margin-top: 20px!important;
	overflow-y: hidden;
	max-width: 500px;
	min-width: 300px;
	text-align: left;
	>div{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.storyImage{
		height: 100%;
		position: absolute;
	}
}

.text-content-wrapper {
	/*margin: 20px 20px 18% 18%;*/
	text-align: left;

	.user-profile-container {
		width:100%;
		display: flex!important;
		div { margin: 10px; }
		.story-avatar {
			display: inline-block;
		}

		.author-details {
			display: inline-block;
			> div {display: block;}
		}
	}

	.story-container {
		display: inline-block;
		margin-bottom: 30px;
		width: 100%;

		#content{
			>img{
				max-width: 95%;
				height: auto;
				width: auto\9;
				margin-left: 5px;
				margin-right: 5px;
			}
		}

		.img{
			width: 100%;
		}

		.title {
			font-weight: 700;
		}
	}
}

.story-item-info{
	text-align: left;
	color:white;
	>span{
		font-size: 14px!important;
		color: white!important;
		height: 17px;
		vertical-align: middle;
		margin-bottom: -4px;
	}
}