.stories-container-wrapper{
	margin: 20px;

	.search-textfield{

		width:100%!important;
		border-radius: 15px;
		border:2px solid lightgray;
		padding-left: 10px;

		>div>hr{
			width:93%!important;
		}
	}

	.stories-outer-container{
		margin-top: 40px;

		.stories-container {
			margin-top: 10px;
			overflow-y: hidden;
			max-width: 95%;
			min-width: 300px;
			text-align: left;
			width: inherit!important;
			>div{
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.storyImage{
				height: 100%;
				position: absolute;
			}
		}
	}
}

.stories-bar{
	margin-top: 84px;
}

.text-content-wrapper {
	/*margin: 20px 20px 18% 18%;*/
	text-align: left;

	.user-profile-container {
		width:100%;
		display: flex!important;
		div { margin: 10px; }
		.story-avatar {
			display: inline-block;
		}

		.author-details {
			display: inline-block;
			> div {display: block;}
		}
	}

	.story-container {
		display: inline-block;
		margin: 10px 10% 30px 10%;

		img {
			display: block;
			max-width: 500px;
			max-height: 500px;
			margin: 40px auto;
		}

		.story-content{
			text-align: center;
			margin: auto;
		}

		.title {
			font-weight: 700;
		}
	}
}

.story-item-info{
	text-align: left;
	color:white;
	>span{
		font-size: 14px!important;
		color: white!important;
		height: 17px;
		vertical-align: middle;
		margin-bottom: -4px;
	}
}