.wiki-recommendation-wrapper {
    padding: 20px 20px 40px;
    margin: 20px;

    .recommendation-nav-bar {
    	padding: 0 10px;
    	margin: 20px;
    }
    
	.recommendation-item-list {
		overflow: hidden;
	    padding: 0;
	    margin: 20px;
	    margin-bottom: 50px;

	    li {
	    	float: left;
		    display: inline-block;
		    width: 150px;
		    height: 150px;
		    overflow: hidden;
		    padding: 0 0 30px 50px;

		    .recommendation-item-wrapper {
	    	    width: 140px;
			    height: 140px;
			    img {
				    width: 100%;
				    height: 100%;
			    }
			    p {
			    	display: inline-block;
				    max-width: 100%;
				    vertical-align: middle;
				}
		    }
	    }
	}

}