.wiki-recommendation-wrapper {
    padding: 20px;

    .recommendation-nav-bar {
    	padding: 0 10px;
    	margin: 20px;
    }
}

.recommendation-item-list {
	overflow: hidden; padding: 20px;
  display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;

  @include media-xs-only { flex-direction: column; align-items: center; }

  .recommendation-item {
	   width: 200px; min-height: 200px; padding: 15px;

    .recommendation-item-wrapper {
    	cursor: pointer; margin: 0 auto; text-align: center;
	    img { width: 140px; height: 140px; }
	    p { display: inline-block; max-width: 100%; vertical-align: middle; }
    }
  }
}

