@import '~scss/common/colors';

.wiki-detail-wrapper {
  text-align: left; margin: 0 auto; padding: 10px 20px;
}

.wiki-section-title { font-size: 18px; font-weight: 400; }

.last-edited-by { font-size: 12px; color: palette(Grey, 500); }
.displaying-old-version { background-color: palette(Grey, 300); padding: 20px; }