@import '~scss/common/mixins';
@import '~scss/common/colors';

.post-header-row {
  padding: 0.5em;
}

.post-header {
  display: flex; flex-direction: column;
}

.post-title {
  line-height: 22px;
  .post-timestamp { font-size: 11px; color: palette(Grey, 400); font-weight: 400; margin-left: 10px; }
}

.post-subtitle {
  font-weight: 400; font-size: 13px; color: palette(Grey, 600);
}

.post-dropdown-menuitem {
  min-height: 36px !important;
  > * { font-size: 12px; line-height: 36px; }
}

.emoji-select {
  display: flex; flex-direction: row;
  .available-emojis { display: none; }
  &:hover .available-emojis { display: flex; }
}

.available-emojis {
  display: flex;
  align-items: center;

}

.bubble{
  height: 25px;
  background: palette(Grey, 200);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}