/* fallback */
@import url(https://fonts.googleapis.com/css?family=Oswald:700|Quattrocento);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Lato:400);
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("fonts/MaterialIcons-Regular.woff2") format("woff2"), url("fonts/MaterialIcons-Regular.woff") format("woff"), url("fonts/MaterialIcons-Regular.ttf") format("ttf"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* Vendor-prefixed styles */
/* Media Queries */
/* Animations and Transitions */
html body {
  background: #fcfcfc; }
  html body, html body .h1, html body .h2, html body .h3, html body .h4, html body .h5, html body .h6, html body h1, html body h2, html body h3, html body h4, html body h5, html body h6, html body p {
    font-family: Roboto, sans-serif;
    color: #444; }
  html body .h1, html body .h2, html body .h3, html body .h4, html body h1, html body h2, html body h3, html body h4 {
    font-weight: 300; }
  html body .h5, html body .h6, html body h5, html body h6 {
    font-weight: 400;
    color: #9c9c9c; }
  html body a {
    color: #2c567a;
    font-weight: inherit; }
  html body p {
    margin-bottom: 10px; }
  html body b, html body strong {
    font-weight: 500; }
  html body label {
    font-weight: inherit; }
  html body h1 {
    font-size: 2em;
    line-height: 1.2em; }
  html body h2 {
    font-size: 1.4rem; }

#main {
  overflow: hidden;
  min-height: 100vh; }

.page {
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

body .container {
  padding: 0 1rem; }

a.button:hover {
  text-decoration: none; }

.small-text {
  color: #9e9e9e;
  font-size: 12px; }

#navigation-bar {
  padding: 20px 0; }

#navigation-links {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  #navigation-links a {
    color: #d3d3d3;
    font-size: 18px;
    margin: 0 15px; }
    #navigation-links a:hover {
      color: #f5f5f5; }

.login label {
  *zoom: 1; }
  .login label:before, .login label:after {
    display: table;
    content: ""; }
  .login label:after {
    clear: both; }

h3.pinline {
  text-align: center;
  text-transform: uppercase;
  display: block;
  overflow: hidden;
  font-size: 1em;
  font-weight: 400;
  margin: 20px 0 5px; }
  h3.pinline span {
    position: relative;
    display: inline-block;
    line-height: 1; }
    h3.pinline span:before, h3.pinline span:after {
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      background: #000;
      width: 99999px; }
    h3.pinline span:before {
      left: 100%;
      margin-left: 20px; }
    h3.pinline span:after {
      right: 100%;
      margin-right: 20px; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
form label.error {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
  color: #ff6666; }

.page-group-chat > div {
  height: 100vh;
  flex-direction: column; }
.page-group-chat #group-container {
  height: calc(100% - 250px); }
  .page-group-chat #group-container .container {
    height: 100%;
    padding: 0; }
@media (max-width: 767px) {
  .page-group-chat #header #header-row {
    display: none; }
  .page-group-chat #group-container {
    height: calc(100% - 72px); } }

.chat-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%; }

.messages-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 800px; }

.message-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px; }
  .message-row:hover {
    background-color: #f5f5f5; }
  .message-row .message-avatar {
    margin-right: 10px; }
  .message-row h5.message-username {
    margin: 0;
    font-weight: 500;
    color: #444;
    font-size: 15px; }
  .message-row p.message-content {
    color: #666;
    font-size: 13px;
    word-break: break-all; }
  .message-row span.message-timestamp {
    font-size: 12px;
    color: #999;
    font-weight: 400; }

.message-send-row {
  width: calc(100% - 40px);
  padding: 10px 20px;
  background-color: #fff;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .message-send-row .message-user-avatar {
    margin-right: 20px; }
    @media (max-width: 767px) {
      .message-send-row .message-user-avatar {
        display: none; } }
  .message-send-row .message-send-field {
    margin-right: 10px; }

.event-title {
  text-align: center; }

.event-item-card {
  padding-bottom: 3% !important;
  margin-bottom: 3% !important; }

.event-item-text > p > img {
  max-width: 100%; }

/* Vendor-prefixed styles */
/* Media Queries */
/* Animations and Transitions */
#group-container {
  margin-bottom: 20px; }
  #group-container .grid-list {
    margin: 0 !important; }

.group-welcome {
  background-color: rgba(153, 184, 210, 0.15);
  padding: 20px;
  border: 1px solid #f5f5f5;
  margin: 20px auto 0; }
  .group-welcome p {
    font-size: 15px;
    color: #555;
    line-height: 24px; }
  .group-welcome span.material-icons {
    vertical-align: top;
    margin-right: 10px; }

.add-section-dialog > div > div {
  width: 100% !important; }

/* Vendor-prefixed styles */
/* Media Queries */
/* Animations and Transitions */
#header {
  position: relative;
  height: 250px;
  width: 100%;
  top: 0%;
  background-size: contain;
  overflow: hidden;
  z-index: 1000;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: -moz-linear-gradient(top, rgba(25, 25, 25, 0.72) 0%, rgba(0, 0, 0, 0.93) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.72) 0%, rgba(0, 0, 0, 0.93) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(25, 25, 25, 0.72) 0%, rgba(0, 0, 0, 0.93) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8191919', endColorstr='#ed000000',GradientType=0 );
  /* IE6-9 */ }
  #header #logo-image {
    display: flex;
    align-items: center; }
    #header #logo-image img {
      width: 100%; }
      @media (max-width: 767px) {
        #header #logo-image img {
          width: 120px;
          margin: 0 10px; } }
  #header + #group-container {
    -webkit-transition: margin-top 450ms cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: margin-top 450ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: margin-top 450ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: margin-top 450ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: margin-top 450ms cubic-bezier(0.4, 0, 0.2, 1); }
  #header.sticky {
    height: 95px; }
    #header.sticky + #group-container {
      margin-top: 220px; }

@media (max-width: 767px) {
  #header {
    position: static;
    height: auto; }
    #header #header-row {
      padding: 20px 0 0; }
    #header + #group-container {
      margin-bottom: 92px; } }
#header-title {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  -webkit-transition: all 450ms;
  -moz-transition: all 450ms;
  -ms-transition: all 450ms;
  -o-transition: all 450ms;
  transition: all 450ms; }
  @media (max-width: 767px) {
    #header-title {
      order: 10;
      margin: 20px 0; } }
  #header-title h2, #header-title p {
    margin: 10px 0; }
  #header-title #uni-name {
    line-height: 2.1rem;
    color: #fff;
    -webkit-transition: all 450ms;
    -moz-transition: all 450ms;
    -ms-transition: all 450ms;
    -o-transition: all 450ms;
    transition: all 450ms; }
  #header-title #uni-description {
    color: rgba(255, 255, 255, 0.75); }
  #header-title.sticky {
    max-height: 144px;
    margin-top: 0px; }
    #header-title.sticky #uni-name {
      font-size: 24px; }

#header-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  -webkit-transition: all 450ms;
  -moz-transition: all 450ms;
  -ms-transition: all 450ms;
  -o-transition: all 450ms;
  transition: all 450ms; }
  #header-profile button > div img {
    object-fit: contain;
    background-color: #fff !important; }

.header-profile-popover {
  padding: 7px 0 0 12px !important;
  line-height: 0 !important; }
  .header-profile-popover > button > div {
    -webkit-transition: all 450ms;
    -moz-transition: all 450ms;
    -ms-transition: all 450ms;
    -o-transition: all 450ms;
    transition: all 450ms; }
    .header-profile-popover > button > div img {
      object-fit: contain;
      background-color: #fff !important; }

.header-logo {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .header-logo > div > div {
    opacity: 0; }

#header-profile-logo {
  margin-top: 12px; }

#header-tab-row {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }
  @media (max-width: 767px) {
    #header-tab-row {
      position: fixed;
      left: 16px;
      bottom: 0;
      width: 100%;
      z-index: 9;
      background: -moz-linear-gradient(top, rgba(25, 25, 25, 0.72) 0%, rgba(0, 0, 0, 0.93) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.72) 0%, rgba(0, 0, 0, 0.93) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(25, 25, 25, 0.72) 0%, rgba(0, 0, 0, 0.93) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8191919', endColorstr='#ed000000',GradientType=0 );
      /* IE6-9 */ } }

#header-tab-col {
  padding: 0 !important; }
  #header-tab-col > div > div {
    background-color: rgba(255, 255, 255, 0) !important; }

.header-tab > div > div {
  flex-direction: row !important;
  font-size: 18px !important; }
  .header-tab > div > div span {
    margin-bottom: 0 !important;
    margin-right: 5px; }
  @media (max-width: 767px) {
    .header-tab > div > div span {
      margin-right: 0; }
    .header-tab > div > div:not(span) {
      font-size: 0 !important; } }

.upload_cover_photo {
  position: absolute !important;
  bottom: -50px;
  right: 10px;
  opacity: 0.75;
  -webkit-transition: bottom 350ms !important cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: bottom 350ms !important cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: bottom 350ms !important cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: bottom 350ms !important cubic-bezier(0.4, 0, 0.2, 1);
  transition: bottom 350ms !important cubic-bezier(0.4, 0, 0.2, 1); }
  .upload_cover_photo:hover {
    opacity: 1; }
  #header:hover .upload_cover_photo {
    bottom: 10px; }

input#file-upload {
  display: none; }

/* Vendor-prefixed styles */
/* Media Queries */
/* Animations and Transitions */
.grid-list > div {
  padding: 0 5px;
  margin: 0 0 10px; }
.grid-list .grid-tile {
  cursor: pointer;
  -webkit-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: cover;
  background-position: center center;
  min-height: 220px; }
  .grid-list .grid-tile:hover {
    opacity: 0.9; }

.grid-img {
  max-height: 250px;
  transform: translateY(0) !important; }

.raised-btn > button {
  height: 42px !important; }
  .raised-btn > button > div > div {
    height: 42px !important;
    line-height: 42px;
    padding: 0 20px; }

.md-info {
  line-height: 2rem; }
  @media (min-width: 768px) {
    .md-info {
      padding: 3%; } }
  @media (max-width: 767px) {
    .md-info {
      padding: 6%; } }

.pluginConnectTextDark a {
  color: #000000; }

@media (max-width: 767px) {
  .info-container > .container {
    padding: 0; } }

.info-text-container {
  padding-bottom: 21px;
  margin-bottom: 21px; }
  @media (max-width: 767px) {
    .info-text-container {
      margin: 0; } }

.info-title-container {
  overflow: hidden;
  text-align: center; }
  .info-title-container:hover #info-edit-img-overlay {
    opacity: 1 !important;
    margin-top: 15% !important; }
  .info-title-container:hover #info-edit-img {
    background-color: rgba(3, 3, 3, 0.49); }
  .info-title-container > div > div > img {
    width: 100%;
    object-fit: cover;
    min-height: 300px; }
  .info-title-container > div > div > div {
    padding-top: 0 !important; }

.info-container-col {
  margin-bottom: 21px; }

.form-title-field {
  z-index: 2;
  padding: 15px 0; }
  .form-title-field > input {
    font-size: 2rem !important;
    color: white !important;
    text-align: center; }

#grid-item-add {
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-color: #c5c5c5;
  border-style: dotted;
  display: inline-block;
  cursor: pointer; }
  #grid-item-add:hover #grid-item-add-overlay {
    opacity: 1;
    padding-top: 75px; }

#grid-item-add-overlay {
  background: transparent;
  text-align: center;
  padding: 94px 0 66px 0;
  opacity: 0;
  transition: .25s ease;
  -webkit-transition: .25s ease; }
  #grid-item-add-overlay p {
    color: #a6a6a6; }

#grid-item-add-icon {
  font-family: Helvetica;
  font-weight: 900;
  font-size: 50px;
  color: #a6a6a6; }

#info-edit-img {
  opacity: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  -ms-box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45) !important;
  -o-box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45) !important;
  -webkit-box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45) !important;
  -moz-box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45) !important;
  box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45) !important;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  #info-edit-img #info-edit-img-overlay {
    opacity: 0;
    margin-top: 18%;
    -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); }
    #info-edit-img #info-edit-img-overlay > p {
      color: #ffffff; }
    #info-edit-img #info-edit-img-overlay span {
      font-family: Helvetica;
      font-weight: 900;
      font-size: 50px;
      color: #ffffff; }

.loading {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.login label {
  display: block; }

.loading-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px 0; }

.floating-loading {
  position: absolute;
  top: calc(50% - 55px);
  left: 0;
  width: 100%; }
  .floating-loading > div {
    margin: 10px auto !important; }

.flex-table-container {
  text-align: left; }
  .flex-table-container p {
    margin: 0;
    color: #999; }
  .flex-table-container .row {
    padding: 10px 0; }
  .flex-table-container .table-header {
    font-weight: 500;
    text-transform: uppercase; }
  .flex-table-container .table-cell {
    color: #999; }

.medium-toolbar-arrow-under:after {
  border-color: #242424 transparent transparent transparent;
  top: 50px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #242424 transparent;
  top: -8px; }

.medium-editor-toolbar {
  background-color: #242424;
  background: -webkit-linear-gradient(top, #242424, rgba(36, 36, 36, 0.75));
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.75));
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 3px #000; }

.medium-editor-toolbar li button {
  background-color: #242424;
  background: -webkit-linear-gradient(top, #242424, rgba(36, 36, 36, 0.89));
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.89));
  border: 0;
  border-right: 1px solid #000;
  border-left: 1px solid #333;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 50px;
  min-width: 50px;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in; }

.medium-editor-toolbar li button:hover {
  background-color: #000;
  color: yellow; }

.medium-editor-toolbar li .medium-editor-button-first {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }

.medium-editor-toolbar li .medium-editor-button-last {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #000;
  background: -webkit-linear-gradient(top, #242424, rgba(0, 0, 0, 0.89));
  background: linear-gradient(to bottom, #242424, rgba(0, 0, 0, 0.89));
  color: #fff; }

.medium-editor-toolbar-form {
  background: #242424;
  border-radius: 5px;
  color: #999; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  background: #242424;
  box-sizing: border-box;
  color: #ccc;
  height: 50px; }

.medium-editor-toolbar-form a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #242424;
  border-radius: 5px;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #b3b3b1; }

.medium-editor-paper {
  min-height: 300px;
  padding: 24px; }

.medium-editor-toolbar-form-active {
  display: block; }

.medium-editor-element {
  min-height: 300px; }

.page-profile {
  min-height: calc(100vh - 150px);
  background-color: darkslategray;
  padding-top: 150px; }
  @media (max-width: 767px) {
    .page-profile {
      padding-top: 15px;
      min-height: calc(100vh - 15px); } }

#half-header {
  min-height: 804px;
  position: relative;
  background-size: auto 50% !important; }
  #half-header #logo-image {
    position: absolute;
    top: 30px;
    left: 30px; }

/* Vendor-prefixed styles */
/* Media Queries */
/* Animations and Transitions */
.signup + p {
  margin-top: 20px; }

#landing-container {
  min-height: 804px; }

#welcome-header {
  min-height: 804px;
  position: relative;
  background-size: cover !important; }

#welcome-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  padding: 10vh 20px; }
  @media (max-width: 767px) {
    #welcome-main-container {
      height: 120vh; } }

#welcome-header-title {
  text-align: center;
  margin: 0 auto;
  padding-top: 6rem;
  max-width: 750px; }
  #welcome-header-title #app-title {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.125;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      #welcome-header-title #app-title {
        font-size: 44px; } }
  #welcome-header-title .app-subtitle {
    font-family: 'Lato', sans-serif;
    color: #fff;
    opacity: 0.75;
    font-size: 1.4rem;
    padding: 0 10px;
    margin-bottom: 10px; }

#welcome-body {
  margin-top: 25px;
  margin-bottom: 25px; }
  #welcome-body #welcome-body-message {
    text-align: center;
    color: #fff;
    font-size: 1rem; }

#login-button {
  text-align: center; }

.kep-login-facebook {
  background-color: rgba(76, 105, 186, 0.86) !important;
  font-size: 18px;
  font-family: Roboto, sans-serif !important;
  font-weight: 500 !important;
  -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0; }
  .kep-login-facebook:hover {
    background-color: #3d5084 !important; }

.feature-row > div > span {
  font-size: 60px !important;
  border-radius: 18px;
  color: #fff !important; }
.feature-row > div > p {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  bottom: -13px;
  color: #fff !important; }

.page-signup h1 {
  margin: 0; }
.page-signup .signup-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px; }

#stepper-img {
  height: 100vh;
  width: 100%;
  object-fit: cover; }
  @media (max-width: 767px) {
    #stepper-img {
      height: 250px; } }

.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
  color: #555;
  background-color: #e7e7e7; }

/*# sourceMappingURL=application.css.map */
