@import '~scss/common/mixins';
@import '~scss/common/colors';

.comment-actions {
  margin-top: 5px; display: flex; flex-direction: row; align-items: center;

  .comment-action { cursor: pointer; font-size: 10px; color: palette(Grey, 500); margin-right: 15px; }
  .reply {
    display: flex; flex-direction: row; align-items: center;
    .material-icons { margin-right: 2px; }
  }
}

.reply-main-container {
  margin-left: 50px;
}

.comment-overall-container{

}

.comment-info {
  display: flex; align-items: center; flex-direction: row; margin-bottom: 3px;
  .comment-author-name { font-size: 14px; font-weight: 500; line-height: 22px; }
  .timestamp { color: palette(Grey, 400); font-weight: normal; font-size: 11px; margin-left: 10px; }
}

.comment-reply-content {
  font-weight: 400; color: palette(Grey, 800);

  .comment-reply-content-body { line-height: 22px; margin-bottom: 7px; }
}